<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="com.gfamily.resource"
          android:versionCode="1"
          android:versionName="2.0.0">

    <uses-sdk
            android:minSdkVersion="22"
            android:targetSdkVersion="23"/>

    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED"/>

    <application
            android:allowBackup="true"
            android:icon="@drawable/ic_launcher"
            android:label="@string/app_name"
            android:theme="@style/AppTheme">
        <meta-data
                android:name="xposedmodule"
                android:value="true"/>
        <meta-data
                android:name="xposedminversion"
                android:value="2.3.1"/>
        <meta-data
                android:name="xposeddescription"
                android:value="Redirect an image drawable to a file or another image drawable in another package."/>
    </application>

</manifest>